body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

#panel-lateral {
    background-color: #4caf50;
    color: white;
    width: 250px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 20px;

}

#panel-lateral img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#panel-lateral a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 10px;
}

#panel-lateral a:hover {
    text-decoration: underline;
}

#contenido {
    max-width: 800px;
    margin: 0 auto;
}

.formulario {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}

.column {
    flex: 1;
    margin: 0 10px;
}

.input-group-wrapper {
    display: flex;
    align-items: center;
}

input[type="text"],
select,
textarea {
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px #ccc;
    font-size: 16px;
    margin-top: 5px;
}

input[type="date"] {
    padding: 10px
}

.search-btn {
    background-color: #4caf50;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.info-btn {
    background-color: #ccc;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.detalle-facturacion {
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

select,
input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

select {
    color: #999;
}

input[type="text"]:focus,
input[type="date"]:focus {
    outline: none;
    box-shadow: 0 0 0 2px #007bff;
}

input[type="text"][readonly],
input[type="date"][readonly] {
    background-color: #f2f2f2;
    color: #999;
}